.mainMenuContainer {
  height: 156px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  /* background-image: url("../../assets/images/main-menu-background.png");
  background-size: cover;
  background-position: center; */
}

.menuItemsContainer {
  height: 99px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menuItems {
  width: 90%;
  max-width: 350px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuLink {
  margin-top: 8px;
  color: #727272;
  text-decoration: none;
  font-family: "Lato", cursive;
  font-size: 0.8rem;
}

.menuLinkActivated {
  color: #fff;
}

.mainMenuBackground {
  z-index: 0;
  position: absolute;
  /* width: 100%;
  max-width: 430px; */
  height: 150px;
}

@media screen and (min-height: 325px) and (max-height: 900px) {
  .mainMenuBackground {
    height: 110px;
  }

  .menuItemsContainer {
    height: 70px;
  }

  .menuItem img {
    height: 23px;
  }

  .menuLink {
    margin-top: 4px;
  }
}

/* @media screen and (min-height: 501px) and (max-height: 700px) {
  .mainMenuBackground {
    height: 120px;
  }

  .menuItemsContainer {
    height: 70px;
  }

  .menuItem img {
    height: 23px;
  }

  .menuLink {
    margin-top: 4px;
  }
} */
